/* font */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  color: white;
}


body {
  background-image: url('../public/bg.png');
  background-position: center;
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

[draggable="true"] {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.icon {
  width: 40px;
  height: 40px;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 0 7%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 11vh;
}

.header > div {
  display: flex;
  align-items: center;
}

.main_banner {
  position: relative;
  left: -95px;
  width: 30%;
}

.nav {
  position: relative;
  left: -45px;
}

.nav > .icon {
  cursor: pointer;
}

.time_control {
  margin: 0 1rem;
}

.score {
  margin-left: .5rem;
}

.game_table {
  display: grid;
  grid-template-areas:
    "temp . sorted"
    "main_left . main_right";
  grid-template-columns: 544px auto 544px;
  grid-template-rows: 145px auto;
  height: 70vh;
  margin-top: 1rem;
}

.cards_area {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.card_wrapper {
  position: relative;
  width: 100px;
  height: 130px;
  border: 2px hsla(0, 0%, 93%, 0.3) solid;
  border-radius: 10px;
}

.cards_area_temp {
  grid-area: temp;
}

.cards_area_sorted {
  grid-area: sorted;
}

.cards_area_sorted .card_wrapper {
  position: relative;
}

.cards_area_sorted .icon {
  position: absolute;
  top: calc(50% - 1.5rem);
  left: calc(50% - 1.5rem);
  width: 3rem;
  height: 3rem;
  z-index: -1;
}

.game_table .left {
  grid-area: main_left;
}

.game_table .right {
  grid-area: main_right;
}

.card {
  position: relative;
  width: 100px;
  height: 134px;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 0 2rem;
  z-index: -10;
}

.left_footer,
.right_footer {
  width: 35%;
}

.center_footer {
  position: absolute;
  bottom: -45px;
  left: 38%;
  width: 25%;
}


.footer_msg {
  text-align: center;
}

.card_main {
  top: 107px;
  margin-top: -107px;
}

.card_temp,
.card_sorted {
  position: absolute;
  top: 0;
}

.dragging {
  opacity: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: .5;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  width: 1rem;
  border: none;
  background: transparent;
}


::-webkit-scrollbar-thumb {
  border: 4px black solid;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #2F2417;
}

::-webkit-scrollbar-track {
  background-color: black;
}
.modal {
  opacity: 1;
}

.modal .content {
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  top: 20vh;
  left: 26vw;
  width: 52vw;
  height: 56vh;
  padding: 1rem 2rem;
  border: 10px white solid;
  border-radius: 10px;
  outline: 4px #2F2417 solid;
  outline-offset: -10px;
  background: #453122;
}

.modal .paragraph {
  position: relative;
  width: 100%;
}

.modal .paragraph_instruction {
  height: 70%;
  overflow-y: scroll;
}

.modal .paragraph_info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 80%;
  margin: 1rem 0;
  overflow-y: hidden;
}

.modal .paragraph_win {
  height: 80%;
}

.modal .paragraph_info button,
.modal .paragraph_win button {
  padding: 1rem 3rem;
  border: 3px #000000 solid;
  border-radius: 30px;
  background: #2F2417;
}

.modal .paragraph_info button:hover,
.modal .paragraph_win button:hover {
  background-color: #69533A;
}

.modal .paragraph_info button {
  width: 70%;
  margin: .6rem 0;
}

.modal .paragraph_win button {
  width: 40%;
  margin: 0 2rem;
}

.modal i {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  font-size: 2.5rem;
}

.modal .content > img {
  height: 3rem;
  margin: 1rem 0;
}

.content > .img_info {
  width: 50%;
}

.content > .img_instruction {
  width: 60%;
}

.content > .img_win {
  width: 80%;
}

.modal p {
  margin: 1rem 0;
  font-size: .75rem;
  line-height: 1.5rem;
}

.modal .paragraph_win {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.modal .win_pic {
  position: absolute;
  bottom: 0;
  left: -2rem;
  width: 111%;
  height: 24rem;
  z-index: -1;
}
