@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  color: white;
}


body {
  background-image: url('../public/bg.png');
  background-position: center;
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}

[draggable="true"] {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.icon {
  width: 40px;
  height: 40px;
}

.container {
  height: 100vh;
  width: 100%;
  padding: 0 7%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11vh;
  width: 100%;
}

.header > div {
  display: flex;
  align-items: center;
}

.main_banner {
  position: relative;
  left: -95px;
  width: 30%;
}

.nav {
  position: relative;
  left: -45px;
}

.nav > .icon {
  cursor: pointer;
}

.time_control {
  margin: 0 1rem;
}

.score {
  margin-left: .5rem;
}

.game_table {
  display: grid;
  grid-template-areas:
    "temp . sorted"
    "main_left . main_right";
  grid-template-columns: 544px 6% 544px;
  grid-template-rows: 145px auto;
  margin-top: 1rem;
  height: 70vh;
}

.cards_area {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.card_wrapper {
  position: relative;
  height: 130px;
  width: 100px;
  border: 2px hsla(0, 0%, 93%, 0.3) solid;
  border-radius: 10px;
}

.cards_area_temp {
  grid-area: temp;
}

.cards_area_sorted {
  grid-area: sorted;
}

.cards_area_sorted .card_wrapper {
  position: relative;
}

.cards_area_sorted .icon {
  position: absolute;
  top: calc(50% - 1.5rem);
  left: calc(50% - 1.5rem);
  width: 3rem;
  height: 3rem;
}

.game_table .left {
  grid-area: main_left;
}

.game_table .right {
  grid-area: main_right;
}

.card {
  position: relative;
  width: 100px;
  height: 134px;
}

.footer {
  display: flex;
  position: fixed;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 0 2rem;
  z-index: -10;
}

.left_footer,
.right_footer {
  width: 35%;
}

.center_footer {
  position: absolute;
  left: 38%;
  bottom: -45px;
  width: 25%;
}


.footer_msg {
  text-align: center;
}

.card_main {
  top: 107px;
  margin-top: -107px;
}

.card_temp,
.card_sorted {
  position: absolute;
  top: 0;
  margin-top: 0;
}
